// Colors
$bg: #ebf2fa;
$white: #fff;
$black: #000;
$blue: #2a254b;
$gray: #e6f0fc;
$purple: #e163b4;
$orange: #f06060;
$pink: #c10872;
$lilac:#d0ade6;
$green: #8dd350;


$index: calc(1vw + 1vh);
$gallery-gap: calc($index * 3);